.item-card {
  width: 400px;
  height: 220px;
  margin-top: 30px;
}

.card {
  border-radius: 0rem;
}

.card-body {
  padding: 15px 15px 0px 15px;
}

.card-footer {
  border-top: 0px;
  background-color: #ffffff;
  padding: 0px 15px 10px;
}

.item-name-card {
  font-size: 20px;
  font-weight: 700;
  color: #4a4a4a;
}

.item-price-card {
  font-size: 20px;
  font-weight: 400;
  color: #4a4a4a;
}

.item-img-overflow {
  overflow: hidden;
}

.item-img {
  max-width: 105px;
  max-height: 200px;
  padding: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.edit-icon {
  font-size: 16px;
  color: #909090;
  font-weight: 500;
  float: left;
}

.delete-icon {
  float: left;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}

.soldOutToggle {
  font-size: 24px;
}

.itemSoldOutBtn {
  font-size: 18px;
}

.notSoldOut {
  font-weight: 500;
  color: #909090;
}

.see-details {
  text-decoration: none;
  color: #04a89b;
  line-height: 35px;
}

.see-details:hover {
  color: #6f6d6d;
}
