.item-card {
  width: 450px;
  height: 200px;
  margin-top: 30px;
}

.item-img-overflow {
  overflow: hidden;
}

.item-img {
  max-width: 150px;
  max-height: 175px;
  padding: 25px 10px;
}

.edit-icon {
  font-size: 12px;
  color: #000000;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}

.soldOutToggle {
  font-size: 24px;
}

.itemSoldOutBtn {
  font-size: 18px;
}

.isSoldOut {
  color: #04a89b;
}

.see-details {
  text-decoration: none;
  color: #04a89b;
}

.see-details:hover {
  color: #6f6d6d;
}
