.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
}

.menu-btn {
  font-size: 2rem;
  color: #6f6d6d;
}

.menu-btn:hover {
  cursor: pointer;
}

.navbar-large {
  padding: 35px 65px;
}

.logo {
  max-width: 300px;
}
