/* Implementing Roboto Font for all text tags */

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
}

.col {
  flex-grow: 0;
}

.login-text {
  color: #000000;
}

.username {
  color: #0FA79C;
  text-decoration: none;
}
/*shift menu display down*/
.shift-down {
  padding-top: 50px;
}

