/* Implementing Roboto Font for all text tags */

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}

.col {
  flex-grow: 0;
}

.modal-footer {
  border-top: 0px solid #dee2e6;
}
.modal-header {
  border-bottom: 0px solid #dee2e6;
}

.login-text {
  color: #000000;
}

.username {
  color: #0fa79c;
  text-decoration: none;
}
/*shift menu display down*/
.shift-down {
  padding-top: 50px;
}

.checkmate-primary-btn {
  background-color: #0fa79c;
}

.checkmate-primary-btn:hover {
  background-color: #4a4a4a;
}
